.suh_container {
  margin: 0;
  width: 100%;

  display: flex;
  justify-content: center;
}
.suh_body {
  width: 60vw;
  height: 2200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.suh_prof {
  display: flex;
  border-radius: 100px;
  width: 168px;
  height: 168px;
}

.suh_font {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80%;
  width: 35vw;
  /* or 74px */

  letter-spacing: 0.001em;

  /* Light/Text Color/Title */

  color: #11142d;
}
.suh_name {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 120%;
  /* identical to box height, or 47px */

  letter-spacing: 0.005em;

  /* Light/Text Color/Title */

  color: #1a242d;
}

.suh_header {
  width: 1224px;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.suh_font1 {
  width: 177px;
  height: 5vh;

  /* Heading/H4 Bold */

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  /* or 37px */

  letter-spacing: 0.005em;

  /* Light/Text Color/Title */

  color: #11142d;
}
.suh_card {
  width: 50vw;
  height: 25vh;
}
.description {
  width: px;
  height: 58px;

  /* Heading/H5 Bold */

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  letter-spacing: 0.005em;

  /* Text/Title Text */

  color: #333333;
}
.news-pic {
  width: 25vw;
  height: 35vh;
}
.suh_card_x {
  width: 60vw;
  height: 55vh;
  gap: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.suh_header3 {
  width: 60vw;
  height: 1263px;
}
.suh_header3_font {
  width: 250px;
  height: 7vh;

  /* Heading/H4 Bold */

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  /* or 37px */

  letter-spacing: 0.005em;

  /* Light/Text Color/Title */

  color: #11142d;
}
.suh_card2 {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 500px;
}
.latest-pic {
  width: 296px;
  height: 312px;
}
.description1 {
  width: 296px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desk {
  width: 220px;
  height: 130px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
}
.suh_card_wrap {
  gap: 10px;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
}
.suh_create {
  display: flex;
  flex-direction: column;
  width: 608px;
  height: 519px;
}
.paragraph {
  width: 400px;
  height: 40px;
}
.suh_sub {
  height: 47px;
  width: 100px;
}
.suh_image {
  width: 400px;
  height: 40px;
}
.create_NEWS {
  display: flex;
  flex-direction: column;
}
.colsss {
  display: flex;
  flex-direction: column;
}
