.suh_container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.suh_body {
  width: 80vw;
  display: flex;
  flex-direction: column;
}
.suh_prof {
  display: flex;
  border-radius: 100px;
  width: 168px;
  height: 168px;
}

.suh_font {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80%;
  width: 35vw;
  /* or 74px */

  letter-spacing: 0.001em;

  /* Light/Text Color/Title */

  color: #11142d;
}
.suh_name {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 120%;
  /* identical to box height, or 47px */

  letter-spacing: 0.005em;

  /* Light/Text Color/Title */

  color: #1a242d;
}

.suh_header {
  width: 1224px;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.suh_font1 {
  width: 177px;
  height: 5vh;

  /* Heading/H4 Bold */

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  /* or 37px */

  letter-spacing: 0.005em;

  /* Light/Text Color/Title */

  color: #11142d;
}
.suh_card {
  width: 50vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
}
.description {
  height: 100px;

  /* Heading/H5 Bold */

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */

  letter-spacing: 0.005em;

  /* Text/Title Text */

  color: #333333;
}
.desk1 {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.news-pic {
  width: 25vw;
  height: 40vh;
}
.suh_card_x {
  width: 80vw;
  height: 55vh;
  gap: 10px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.suh_header3 {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 130vh;
}
.suh_header3_font {
  width: 250px;
  height: 7vh;

  /* Heading/H4 Bold */

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  /* or 37px */

  letter-spacing: 0.005em;

  /* Light/Text Color/Title */

  color: #11142d;
}
.suh_card2 {
  display: flex;
  flex-direction: column;
  width: 18vw;
  height: 60vh;
}
.latest-pic {
  width: 100%;
  height: 38vh;
}
.description1 {
  width: 20vw;
  height: 22vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.desk {
  width: 18vw;
  height: 30vh;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.suh_card_wrap {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.suh_create {
  display: flex;
  flex-direction: column;
  width: 608px;
  height: 519px;
}
.paragraph {
  width: 400px;
  height: 40px;
}
.suh_sub {
  height: 47px;
  width: 100px;
}
.suh_image {
  width: 400px;
  height: 40px;
}
.create_NEWS {
  display: flex;
  flex-direction: column;
}
.colsss {
  display: flex;
  flex-direction: column;
}
.suh_name_date {
  display: flex;
  flex-direction: row;
  width: 12vw;
  height: 6vh;
  justify-content: space-between;
  /* Captions/Captions Bold */

  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  /* or 13px */

  letter-spacing: 0.003em;

  /* Light/Text Color/Body 2 */

  color: #9a9ab0;
}
.suh_type {
  position: absolute;
  bottom: 0.1px;
  background-color: white;
  width: 94px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  /* Captions/Captions Bold */

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 110%;
  /* or 13px */

  letter-spacing: 0.008em;

  /* Light/Text Color/Body 2 */

  color: #9a9ab0;
}
.pos {
  position: relative;
}
.suh_include {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
}
/* pagination css */

.suh_but {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 12px;
  justify-content: center;
  margin-right: 0.5vw;
  font-size: 0.7vw;
  color: white;
  height: 2vw;
  width: 2vw;
  background-color: #109be9;
}
