.Homepage1Text1 {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.Homepage1Text2 {
  width: 608px;
  height: 370px;
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 120%;
  letter-spacing: 0.003em;
  color: #ffffff;
}
.HomePage1Content {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerHome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Homepage1 {
  width: 100vw;
  height: 100vh;
  background-color: #919191;
}
.Homepage1Text {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #ffffff;
}
.Homepage1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}
.HomePage1Right {
  width: 504px;
  height: 693px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: center;
}
.Homepage1Text1 {
  display: flex;
  flex-direction: row;
}
.Homepage1Text11 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.HomePage1RightText2CardImg {
  width: 144px;
  height: 104px;
  background-color: #f2f2f2;
}
.HomePage1RightText2Card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.HomePage1RightText1 {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #ffffff;
  margin-left: 14px;
}
.HomePage1RightText2CardText {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0.008em;
  color: #ffffff;
}
.HomePage1RightText2CardTexts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.HomePage1RightText2CardText1 {
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #ffffff;
  width: 288px;
  height: 38px;
}
.HomePage1RightText2 {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.HomePage1CardImg {
  width: 120px;
  height: 80px;
  margin-right: 140px;
  background-color: white;
}
.HomePage1Card {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 185px;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  background: transparent;
}
.HomePage1Cards {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.HomePage1CardText {
  width: 264px;
  height: 57px;
  left: 120px;
  top: 830px;
  font-family: "arial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #ffffff;
}
.HomePage1Card:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  border-left: 3px solid #109be9;
}
.Homepage2 {
  width: 100vw;
  height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HomePage2Content {
  width: 80vw;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vh;
}
.HomePage2ContentTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 46vw;
}
.homePageBtn {
  width: 112px;
  height: 56px;
  background: #f36326;
  border-radius: 8px;
  border: none;
  color: white;
}
.homePage2Topic {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #11142d;
}
.HomePage2Cards1 {
  display: flex;
  flex-direction: row;
  gap: 3.3vw;
}
.HomePage2Card {
  display: flex;
  width: 295px;
  height: 520px;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}
.HomePage2CardImg {
  width: 296px;
  height: 312px;
  background-color: #919191;
}
.HomePage2CardText {
  width: 270px;
  text-align: left;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #333333;
}

.HomePage2CardDateDate {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0.008em;
  color: #9a9ab0;
}

.HomePage2CardDate {
  display: flex;
  flex-direction: row;
  width: 270px;
  gap: 1vw;
}
.HomePage2Card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.HomePage3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
}
.HomePage3Card {
  display: flex;
  flex-direction: column;
  width: 608px;
  height: 519px;
  gap: 1vh;
}
.HomePage3CardImg {
  width: 608px;
  height: 376px;
  background-color: #919191;
}
.HomePage3CardText {
  width: 560px;
  height: 58px;
  left: 120px;
  top: 3657px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #333333;
}
.HomePage3CardDate {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.HomePage3cardDateName {
  width: 68px;
  height: 13px;
  left: 201px;
  top: 3739px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0.008em;
}
.HomePage3cardDateDate {
  width: 68px;
  height: 13px;
  left: 201px;
  top: 3739px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: 0.008em;
}
.HomePage3TopLeft {
  width: 342px;
  height: 37px;
  left: 104px;
  top: 3164px;
  font-family: "Mulish";
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #11142d;
}
.HomePage3Contents {
  display: flex;
  width: 80vw;
  flex-direction: column;
}
.HomePage3Text {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  overflow-x: scroll;
}
