@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;700;900&family=Open+Sans:wght@400;600;700&display=swap");
body {
  margin: 0;
}

.home {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100vw;
  height: 140px;
  border: 1px solid black;
  background-color: #109be9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headerTop {
  display: flex;
  height: 49%;
  width: 60%;
  border: 1px solid black;
}

.headerBottom {
  display: flex;
  height: 49%;
  width: 60%;
  /* border: 1px solid black; */
}

.headerTopLeft {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
.headerTopLeftSon {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.button {
  height: 20px;
  width: max-content;
  /* border: 1px solid black; */
  background: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  border: none;
}
.footerAav {
  display: flex;
  justify-content: space-around;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.005em;
  text-align: left;
}
.footerGurav {
  display: flex;
  justify-content: space-around;
  width: 1000px;
}
.footerUg {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-align: left;
  height: 100px;
  width: 249px;
  word-wrap: break-word;
}
.footerBagana {
  color: #515151;
  line-height: 19px;
}
.footerSolo {
  line-height: 40px;
}
.footerDedAav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerZuraas {
  width: 1200px;
  margin-top: 59px;
  height: 1px;
  background-color: #f2f2f2;
}
